@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@600&family=Zen+Maru+Gothic&display=swap');
.gradient{
	background-image: linear-gradient(to right, rgb(200, 191, 231) , #ABFFD1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: 
rgb(200, 191, 231);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
rgb(200, 191, 231);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}