@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@600&family=Zen+Maru+Gothic&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
#bodyIndex{
	display: grid;
	overflow-x: hidden;
	overflow-y: scroll;
	grid-template-areas: 
	"nav 		nav 		nav"
	"sign 		sign 		sign"
	"header 	header 		header"
	"macetas 	destacados 	plantas"
	"macetas 	contact 	plantas"
	"pie 		pie 		pie";
	min-height: 100vh;
	grid-template-rows: 5rem 3rem 0.5fr 1fr 1fr auto;
	grid-template-columns: 1fr 3fr 1fr;

}

.nav{
	grid-area: nav;
	/*background-color: #37FFC1;*/
	background-color: #ABFFD1;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
	.nav ul{
			width: auto;
			height: auto;
			list-style: none; 
			display: flex;
			flex-flow: row wrap;
			align-items: center;


		}
								.nav ul li a{
										text-decoration: none;
										font-family: 'Zen Maru Gothic', sans-serif;
										font-size: 2rem;
										color: #730202;
										display: inline-block;
										margin: 0 10px;
										position: right center;


									}
.sign{
	grid-area: sign;
}
#header{
	width: 99%;
	
	grid-area: header;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}
#header img{
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}
#destacados{
	grid-area: destacados;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
	background-color: lightgray;
}
#destacados img{
	margin: 1rem;
}
#destacados h3{
	width: 25%
	height: auto;
}

#nuevasPlantas{
	grid-area: plantas;

}

#nuevasMacetas{
	grid-area: macetas;
}
#contacto{
	grid-area: contact;
	width: 100%;
}
.footer{
	grid-area: pie;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*background-color: #37FFC1;*/
	background-color: #ABFFD1;
}	
	.footer section{
		display: flex;
		align-items: center;
		flex-basis: 87%;
	}
   /*medium size*/
@media (max-width: 999px){
	#bodyIndex{
		grid-template-areas: 
		"nav nav"	
		"sign sign"		
		"header header" 	
		"destacados destacados" 
		"plantas macetas"
		"contact contact" 	
		"pie pie" ;		
		min-height: 100vh;
		grid-template-rows: 6rem 4rem 30vh auto auto auto auto;
		grid-template-columns: 50vw 50vw;

	}
	#destacados{
		border: 3px solid gray;
		border-radius: 3px;
		margin: 1rem;
		font-size: 2rem;
	}
	#contacto{
		border: 3px solid gray;
		border-radius: 3px;
		background-color: white;
		margin: 1rem; 
	}
}
     /*small size*/
@media (max-width: 600px){
	#bodyIndex{
		grid-template-areas: 
		"nav"	
		"sign "		
		"header" 	
		"destacados" 
		"plantas"
		"macetas"
		"contact" 	
		"pie" ;		
		min-height: 100vh;
		grid-template-rows: auto 4rem 30vh auto auto auto auto auto;
		grid-template-columns: 100vw;

	}
	#destacados{
		border: 3px solid gray;
		border-radius: 3px;
		margin: 1rem;
		font-size: 2rem;
	}
	#contacto{
		padding: 0;
		border: 3px solid gray;
		border-radius: 3px;
		background-color: white;
		margin: 1rem; 
	}
}
/*ESTILOS DE PRODUCTOS*/
#bodyProductos{
	display: grid;
	overflow-x: hidden;
	overflow-y: scroll;
	grid-template-areas: 
	"nav 		nav 		nav"
	"sign 		sign 		sign"
	"menu 		cactus 		otros"
	"menu 		sucus 		otros"
	"menu 		pots 		otros"
	"pie 		pie 		pie";
	min-height: 100vh;
	grid-template-rows: 5rem 3rem 1fr 1fr 0.5fr auto;
	grid-template-columns: 1fr 3fr 1fr;

}
#menuProductos{
	grid-area: menu;
}
	#menuProductos ul{
			width: 100%;
			height: auto;
			list-style: none;
			display: flex;
			flex-flow: column nowrap;
			
			justify-content: flex-start;
	}
		#menuProductos ul li{
				font-family: 'Zen Maru Gothic', sans-serif;
				font-size: 2rem;
				font-weight: bold;
				color: black;
				margin: 0 10px;
				position: right center;

		}
#cactus{
	grid-area: cactus;
}
#sucus{
	grid-area: sucus; 
}
#macetas{
	grid-area: pots;
}
#otros{
	grid-area: otros;
}
/*PRODUCTOS MD SIZE*/
@media (max-width: 999px){
	#bodyProductos{
	grid-template-areas: 
	"nav 		nav"
	"sign 		sign"
	"menu 		cactus"
	"menu 		sucus"
	"menu 		pots"
	"menu       otros"
	"pie 		pie";
	min-height: 100vh;
	grid-template-rows: 5rem 3rem auto auto auto auto auto;
	grid-template-columns: 1fr 3fr;

	}
	
	#otros .flexAsideFotos{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		}

		#otros img{
			width: 30%;
			height: auto;
			border: 2px solid #EEB8FF;
			object-fit: cover;
		}
	#cactus, #sucus, #macetas{
		border: 3px solid gray;
		border-radius: 3px;
		margin: 1rem;
		font-size: 2rem;
	}
}
/*PRODUCTOS SM SIZE*/
@media (max-width: 650px){
	#bodyProductos{
	grid-template-areas: 
	"nav"
	"sign"
	"cactus"
	"sucus"
	"pots"
	"otros"
	"pie";
	min-height: 100vh;
	grid-template-rows: auto 5rem auto auto auto auto auto;
	grid-template-columns: auto;

	}
	#menuProductos{
		display: none;
	}
	
	#otros .flexAsideFotos{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		}

		#otros img{
			width: 30%;
			height: auto;
			border: 2px solid #EEB8FF;
			object-fit: cover;
		}
	#cactus, #sucus, #macetas{
		border: 3px solid gray;
		border-radius: 3px;
		margin: 1rem;
		font-size: 2rem;
	}
}

/*alineaciones de textos*/
.textRight{
	text-align: right;
}	
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}

/*estilo de imágenes*/
/*.imgStyle1{
	width: 30%;
	height: 100%;
	border: 2px solid #EEB8FF;
	object-fit: cover;
}*/
.foto{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	width: 30%;
	height: auto;
}
	.foto img{
			width: 90%;
			height: auto;
			border: 2px solid #EEB8FF;
			object-fit: cover;
	}
.productGalery{
	/*width: auto;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;*/

	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	width: 100%;
	height: auto;
}
		.productGalery img{
			width: 30%;
			height: auto;
			border: 2px solid #EEB8FF;
			object-fit: cover;
	}
/*texto para cuerpo*/
.bodyPageFont{
	font-size: 2rem;
	font-family: 'Zen Maru Gothic', sans-serif;
	padding: 1rem;
}	
/*texto de subtitulo*/
.subtitleFont{
	text-decoration: underline;
	font-size: 1.9rem;
	font-family: 'Nunito', sans-serif;
	text-align: center;

}

/*estilo de titulos*/
.itemsTitleStyle{
	width: 100%;
	/*background-color: #F2AF58;*/
	background-color: #CACACA;
	font-size: 2.5rem;
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

/*estilo de cartel*/
.itemsSignStyle{
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	background-color: #C4FA7F;
	width: 100%;
}
/*estilo de cartel 2*/
.itemsSignScnd{
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	background-color: gray;
	margin: 4rem 14rem;
	width: 50%;
	height: auto;
	text-align: center;
}
/*estilo de asides*/
.asideStyles{
	display: flex;
	margin: 1rem;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	border: 2px solid gray;
	border-radius: 3px;
	/*background-color: rgb(200, 191, 231);*/
}
.flexAsideFotos{
	width: 100%;
	height: 100%;
	padding-bottom: 1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}
/*estilo de fotos aside*/
.fotoAsides{
		width: 80%;
		height: auto;
		border: 2px solid #EEB8FF;
}
/*estilo para formularios*/
.contactFormStyle{
	background-color: rgb(200, 191, 231);
	width: 100%;
	height: auto;
}
fieldset{
	border: none;
}
/*hidden resources*/
.hiddenObject{
	display: none;
}
/*centrado de fotos*/
.galleryStyle1{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	background-color: rgb(200, 191, 231);
}
/*centrar objeto*/
.objCentred{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
}
/*márgenes*/
.margin1{
	margin:1rem;
}
.margin2{
	margin:3rem;
}
.bgColour1{
	background-color: rgb(200, 191, 231);
}
.bgColour2{
	background-color: #CACACA;
}
.divPrueba{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	justify-content: flex-end;
	justify-content: center;
	justify-content: space-around;
	justify-content: space-between;
	justify-content: space-evenly;

}