@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@600&family=Zen+Maru+Gothic&display=swap');



*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}


.divStyle{
	background-color: #C4FA7F;
	width: 100%;	
	font-family: 'Nunito', sans-serif;

}
nav{
background-color: #37FFC1;
position: sticky;
top: 0;
display: flex;
flex-direction: row;
justify-content: space-between;

}

	nav ul{
		width: auto;
		height: auto;
		list-style: none; 
		display: flex;
		flex-flow: row wrap;
		align-items: center;


	}
		nav ul li{
			
				


		}
			nav ul li a{
				text-decoration: none;
				font-family: 'Zen Maru Gothic', sans-serif;
				font-size: 2rem;
				color: #730202;
				display: inline-block;
				margin: 0 10px;
				position: right center;


			}

header{
	
/*pendiente de hacer un slider cuando lo aprenda*/

}
	header img{
		width: 100%;
		height: auto;
		text-align: center;
		background-color: 
	}	
/*estructura de index*/
#destacadosIndex{
	z-index: -3;
	width: 90%
	height: 10rem;
	padding: 2.5rem
}
		#destacadosIndex ul{
			background-color: #A8E6AD

		}
				
				#destacadosIndex ul li{
					font-family: 'Montserrat', sans-serif;
					font-size: 1.4rem;
					list-style: none;
					width: 20rem;
					height: 20rem;
				}
						#destacadosIndex ul li img{
							width: 80%;
							height: auto;
							border: 2px solid #EEB8FF;
						}
	
/*estilización de footer*/

footer{
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #37FFC1;
}	
	footer section{
		display: flex;
		align-items: center;
		flex-basis: 87%;
	}

		
/*estilos de NOVEDADES*/

/*estilos de main#novedades*/
#novedades section img{
	width: 20%;
	height: auto;
}
                                                 /*estilos de PRODUCTOS*/
#internalNav{
background-color: #F2AF58;
top: 0;
width: 100%;
height: auto;
text-align: center;
}
	section ul{
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: column wrap;
		align-items: flex-end;

		

	}
		section ul li{





		}
			section ul li a{
				text-decoration: none;
				font-family: 'Zen Maru Gothic', sans-serif;
				font-size: 2rem;
				font-weight: bold;
				color: black;
				display: inline-block;
				margin: 0 10px;
				position: right center;


			}

                                                                 /*galería de productos*/
#mainProductos{
	box-sizing: border-box;
	background-color: #A8E6AD;
	text-align: center;
	/*display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	margin: 30px 150px 30px 150px;*/
}		
		#mainProductos section{

	}
			#mainProductos section div{
				box-sizing: border-box;
				width: 100%;
				height: auto;

			}
					#mainProductos section img{
						width: 160px;
						height: 160px;
						border: 3px solid #EEB8FF;
						object-fit: cover;
						margin-top: 1.5rem;
				}
			#mainProductos section	h2{
				font-family: 'Montserrat', sans-serif;
				margin-top: 1.5rem;
			}


/*estilos de CARRITO*/
#mainCarrito{
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

/*estilos de SOBRE NOSOTROS*/
#mainAboutUs{
	width: 85%;
	height: auto;
	padding: 3rem;
	margin: 1rem;
	text-align: center;
	background-color: #EEB8FF;

}
	

/*alineaciones de textos*/
.textRight{
	text-align: right;
}	
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}
/*estilo de imágenes*/
.imgStyle1{
	width: 30%;
	height: 100%;
	border: 2px solid #EEB8FF;
	object-fit: cover;
}
.divGalery1{
	width: 80%;
	height: auto;
}	
/*texto para cuerpo*/
.bodyPageFont{
	font-size: 1.5rem;
	font-family: 'Zen Maru Gothic', sans-serif;
}	
/*texto de subtitulo*/
.subtitleFont{
	text-decoration: underline;
	font-size: 1.9rem;
	font-family: 'Nunito', sans-serif;
	text-align: center;

}

/*estilo de titulos*/
.itemsTitleStyle{
	width: 100%;
	background-color: #F2AF58;
	font-size: 2.5rem;
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

/*estilo de cartel*/
.itemsSignStyle{
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	background-color: #C4FA7F;
	width: 100%;
}
/*estilo de cartel 2*/
.itemsSignScnd{
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	background-color: gray;
	margin: 4rem 14rem;
	width: 50%;
	height: auto;
	text-align: center;
}
/*estilo de asides*/
.asideStyles{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	background-color: lightgray;
}

/*estilo para formularios*/
.contactFormStyle{
	background-color: gray;
	width: 400px;
	height: auto;
}
/*hidden resources*/
.hiddenObject{
	display: none;
}
/*centrado de fotos*/
.galleryStyle1{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
}
/*centrar objeto*/
.objCentred{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
}
/*márgenes*/
.margin1{
	margin:1rem;
}
