@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@600&family=Zen+Maru+Gothic&display=swap');
//fuentes
$fuenteUno: 'Zen Maru Gothic', sans-serif;
$fuenteDos: 'Montserrat', sans-serif;
$fuenteTres:  'Nunito', sans-serif;

//colores
$color1: rgb(200, 191, 231);
$color2: #CACACA; 
$color3: #f5f5f5;
$color4: gray;
$color5: #C4FA7F;
$color6: #ABFFD1;
$color7: #37FFC1;
